

<div class="container">
    <div class="row no-gutters">
        <div class="col-6 columna">
            <img class="img-fluid float-left img-thumbnail" src="http://lorempixel.com/200/200/" alt="">
            <img class="img-fluid float-right img-thumbnail" src="http://lorempixel.com/200/200/" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <hr>
            <figure class="figure">
                <img class="img-fluid rounded" src="http://lorempixel.com/400/400/" alt="">
                <figcaption class="figure-caption">
                    <p class="text-center">Lorem ipsum dolor sit amet.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>