
<div class="container">

    <header class="row">
        <div class="col"> <h1>HEADER</h1></div>
    </header>

    <section class="container-main row">
        <main class="col-md-8">
            <h2>MAIN</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Est, illo iste deleniti voluptate delectus labore tempore 
                vitae reprehenderit laborum sequi ipsam perferendis tempora 
                quaerat a qui temporibus ex distinctio voluptatem?
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Est, illo iste deleniti voluptate delectus labore tempore 
                vitae reprehenderit laborum sequi ipsam perferendis tempora 
                quaerat a qui temporibus ex distinctio voluptatem?
            </p>
        </main>
        <aside class="col-md-4 align-self-center">
            <H3>ASIDE</H3>
        </aside>
    </section>

    <section class="row widgets justify-content-between">
        <div class="col-12 col-md-4 col-lg-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Adipisci quibusdam debitis totam sapiente rem explicabo cumque 
                cupiditate corrupti aliquid eum. Necessitatibus fugit itaque modi, 
                unde minima iste. Quo, possimus repellendus!</p>
        </div>
        
        <div class="col-12 col-md-4 col-lg-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Adipisci quibusdam debitis totam sapiente rem explicabo cumque 
                cupiditate corrupti aliquid eum. Necessitatibus fugit itaque modi, 
                unde minima iste. Quo, possimus repellendus!</p>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Adipisci quibusdam debitis totam sapiente rem explicabo cumque 
                cupiditate corrupti aliquid eum. Necessitatibus fugit itaque modi, 
                unde minima iste. Quo, possimus repellendus!</p>
        </div>
    </section>
    
    <footer class="row">
        <div class=" col">
            <h4 >FOOTER</h4>
        </div>
    </footer>

</div>
