
body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-page-not-found {
    text-align: center;
}

#suggestions {
    margin-top: 35px;
    color: #ccc !important;
}