

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Columna #1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis iusto rem magni obcaecati repellendus dolore ullam 
                corporis quod, voluptatum unde sapiente eligendi id quaerat 
                fuga inventore maiores sed consequatur nesciunt.</p>
        </div>

        <div class="col">
            <h3>Columna #2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis iusto rem magni obcaecati repellendus dolore ullam 
                corporis quod, voluptatum unde sapiente eligendi id quaerat 
                fuga inventore maiores sed consequatur nesciunt.</p>
        </div>

        <!-- 
            Le agregamos un ancho del 100% como separador.
            Otra alternativa para separar es usar otro ROW
        -->
        <div class="w-100"></div>

        <div class="col">
            <h3>Columna #3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis iusto rem magni obcaecati repellendus dolore ullam 
                corporis quod, voluptatum unde sapiente eligendi id quaerat 
                fuga inventore maiores sed consequatur nesciunt.</p>
        </div>

        <div class="col">
            <h3>Columna #3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis iusto rem magni obcaecati repellendus dolore ullam 
                corporis quod, voluptatum unde sapiente eligendi id quaerat 
                fuga inventore maiores sed consequatur nesciunt.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Segunda fila</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis iusto rem magni obcaecati repellendus dolore ullam 
                corporis quod, voluptatum unde sapiente eligendi id quaerat 
                fuga inventore maiores sed consequatur nesciunt.</p>
        </div>
    </div>
</div>