

<div class="container">
    
    <div class="row">
        <div class="columna col-md-6">Columna #1
            <div class="row">
                <div class="col columna-interior">Columna #11</div>
                <div class="col columna-interior">Columna #12</div>
            </div>
        </div>

        <div class="columna col-md-6">Columna #2
            <div class="row justify-content-around">
                <div class="columna columna-interior col-4"> Columna #21</div>
                <div class="columna columna-interior col-4"> Columna #22</div>
            </div>
        </div>
    </div>

</div>