
<div class="container">
    
    <div class="row">
        <div class="col">

            <!-- 

                .table-dark             Aplicar colores oscuros a la tabla
                .table-striped          Alterna colores entra cada fila
                .table-bordered         Agregar bordes a la tabla
                .table-hover            Agrega un over a la fila
                .table-sm               Hace la tabla mas pequeña eliminando paddings
                .table-responsive-xx    Permite adaptar la tabla dispositivos moviles

                .table-active
                .table-success
                .table-warning
                .table-danger
                .table-info
             -->

            <table class="table table-sm table-striped table-hover table-bordered table-responsive-lg">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </tr>    
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td>Maria</td>
                        <td>21</td>
                        <td>Mexico</td>
                    </tr>
                    <tr class="table-active">
                        <td>Esteban</td>
                        <td>93</td>
                        <td>Italia</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Paola</td>
                        <td>13</td>
                        <td>Alemania</td>
                    </tr>

                    <tr class="bg-primary">
                        <td>Paola</td>
                        <td>13</td>
                        <td>Alemania</td>
                    </tr>

                    <tr class="bg-success text-white">
                        <td>Paola</td>
                        <td>13</td>
                        <td>Alemania</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
